<div class="event-calendar" data-node_type="{{ event_node_type }}" data-month="{{ month }}" data-year="{{ year }}">
	<div class="event-calendar__header">
		<button class="event-calendar__button event-calendar__button--prev" type="button">＜</button>
		<span class="event-calendar__title">{{ year }}年{{ month }}月</span>
		<button class="event-calendar__button event-calendar__button--next" type="button">＞</button>
	</div>
	<div class="event-calendar__table">
		<table>
			<thead>
				<tr>
					<th>{{ 'Sun'|t }}</th>
					<th>{{ 'Mon'|t }}</th>
					<th>{{ 'Tue'|t }}</th>
					<th>{{ 'Wed'|t }}</th>
					<th>{{ 'Thu'|t }}</th>
					<th>{{ 'Fri'|t }}</th>
					<th>{{ 'Sat'|t }}</th>
				</tr>
			</thead>
			<tbody>
				{% for week in calendar_days|batch(7, NULL) %}
					<tr>
						{% for week_day in week %}
						{%
						set classes = [
							week_day.day is not null ? 'event-calendar__day' : 'event-calendar__empty',
							week_day.day == day ? 'event-calendar__current' : '',
							week_day.has_event ? 'event-calendar__has-event' : '',
						]
						%}
					
						{% set link = week_day.has_event and week_day.day is not null ? path('event_calendar.index', { node_type: event_node_type, year: year, month: month, day: week_day.day }) : 'javascript:;' %}
							<td class="{{ classes|join(' ')|trim }}">
							{% if week_day.has_event %}
							{% else %}
							{% endif %}
							<a href="{{ link }}">{{ week_day.day is not null ? week_day.day : '' }}</a>
							</td>
						{% endfor %}
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
